# IAA by using Cohen Kappa Value

In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math

#### Code below is to calculate IAA by using Cohen Kappa.
#### Each dataset which are labeled by each annotator will be open and then calculate each Po and Pe value in order to be able to use cohen Kappa formula

## Open dataset from annotator 1

In [14]:
df = pd.read_csv('dataset/IAA/sampletweet1.csv',error_bad_lines=False,sep=';')

In [15]:
df.head()

,date,hashtag,tweet,username,intent,emotion
0,22/05/2020 14:27,['#indonesiaterserah'],wes ng omah sui2 g gunaindonesiaterserah,halo kaleaan,negative,anger
1,22/05/2020 14:27,"['#pdip', '#mesuji', '#lampung', '#bansos']",pdip mesuji salurkan paket sembako untuk warga...,haluan lampung,positive,love
2,22/05/2020 14:26,"['#indonesiamelawancovid19', '#indonesiaterser...",pemerintah selain harus mengangani corono yang...,lukman hakim,negative,anger
3,22/05/2020 14:24,"['#coronaindonesia', '#indonesiaterserah', '#d...",masih rentan nggakatau mungkin kita belum baik...,sayed halik,negative,sad
4,22/05/2020 14:24,"['#indonesiaterserah', '#terserahindonesia', '...",terima kasih covid berkat dirimu hadir di bula...,faisamuhammad,negative,sad

In [16]:
print(len(df))

574

## Open dataset from annotator 2

In [17]:
df1 = pd.read_csv('dataset/IAA/sampletweet2.csv',error_bad_lines=False,sep=';')

In [18]:
df1.head()

,date,hashtag,tweet,username,intent,emotion
0,22/05/2020 14:27,['#indonesiaterserah'],wes ng omah sui2 g gunaindonesiaterserah,halo kaleaan,negative,anger
1,22/05/2020 14:27,"['#pdip', '#mesuji', '#lampung', '#bansos']",pdip mesuji salurkan paket sembako untuk warga...,haluan lampung,positive,love
2,22/05/2020 14:26,"['#indonesiamelawancovid19', '#indonesiaterser...",pemerintah selain harus mengangani corono yang...,lukman hakim,positive,love
3,22/05/2020 14:24,"['#coronaindonesia', '#indonesiaterserah', '#d...",masih rentan nggakatau mungkin kita belum baik...,sayed halik,negative,anger
4,22/05/2020 14:24,"['#indonesiaterserah', '#terserahindonesia', '...",terima kasih covid berkat dirimu hadir di bula...,faisamuhammad,negative,sad

In [19]:
print(len(df1))

574

## Intialize variable

In [20]:
pp,np,pn,nn = 0,0,0,0

In [21]:
for x in range(len(df['intent'])):
    if df['intent'][x] == "positive" and df1['intent'][x] == "positive": #a
        pp = pp+1
    if df['intent'][x] == "positive" and df1['intent'][x] == "negative": #b
        pn = pn+1
    if df['intent'][x] == "negative" and df1['intent'][x] == "positive": #c
        np = np+1
    if df['intent'][x] == "negative" and df1['intent'][x] == "negative": #d
        nn = nn +1

In [22]:
print('rater 1 and rater 2 both classified tweet as positive : ', pp)
print('rater 1 classified positive and rater 2 classified negative : ', pn)
print('rater 1 classified negative and rater 2 classified positive : ', np)
print('rater 1 and rater 2 both classified tweet as negative : ', nn)
print('total dataset = ', pp+pn+np+nn)

rater 1 and rater 2 both classified tweet as positive :  49
rater 1 classified positive and rater 2 classified negative :  7
rater 1 classified negative and rater 2 classified positive :  22
rater 1 and rater 2 both classified tweet as negative :  495
total dataset =  573

In [23]:
total = len(df)-1

## observerd agreement value

In [24]:
observed_agreement = (pp+nn)/(pp+nn+np+pn)
print(observed_agreement)

0.9493891797556719

## chance agreement value

In [25]:
chance_positive = ((pp+pn)/total) * ((pp+np)/total) 
chance_negative = ((np+nn)/total) * ((pn+nn)/total)
chance_agreement = chance_positive + chance_negative
print(chance_positive, chance_negative, chance_agreement)

0.012109804494881658 0.7904693158386862 0.8025791203335678

## cohen Kappa

In [26]:
k = (observed_agreement - chance_agreement)/(1-chance_agreement)
print(k)

0.7436399821040129

## Second Kappa

In [27]:
df3 = pd.read_csv('dataset/IAA/sampletweet3.csv',error_bad_lines=False,sep=';',encoding='latin1')

In [28]:
df3.head()

,date,hashtag,tweet,username,intent,emotion
0,26/05/2020 18:25,"['#indonesiaabnormal', '#indonesiaterserah']",luar binasa tanggung jawabnya sang pemimpin si...,arya teja,negative,anger
1,26/05/2020 18:21,"['#covid_19', '#coronaviruspandemic', '#indone...",heh tolonglah jangan pada egois sumpah gua tuh...,suga girlfriend,negative,anger
2,26/05/2020 18:14,"['#bacotsantuy', '#indonesiaterserah', '#indon...",mencari dan mencari bacotsantuy indonesiaterse...,sisna,negative,sad
3,26/05/2020 18:12,"['#indonesiaterserah', '#indonesiaabnormal']",ok diy daerah percobaan apakah pemerintah tida...,akudng,negative,anger
4,26/05/2020 18:09,"['#indonesiaterserah', '#indonesiaabnormal']",duta pengusaha mall duta konglomerat naga9 sak...,terbit di timur,negative,anger

In [29]:
print(len(df3))

413

In [30]:
df4 = pd.read_csv('dataset/IAA/sampletweet4.csv',error_bad_lines=False,sep=';',encoding='latin1')

df4.head()

In [31]:
print(len(df4))

413

In [32]:
pp,np,pn,nn = 0,0,0,0
for x in range(len(df3['intent'])):
    if df3['intent'][x] == "positive" and df4['intent'][x] == "positive": #a
        pp = pp+1
    if df3['intent'][x] == "positive" and df4['intent'][x] == "negative": #b
        pn = pn+1
    if df3['intent'][x] == "negative" and df4['intent'][x] == "positive": #c
        np = np+1
    if df3['intent'][x] == "negative" and df4['intent'][x] == "negative": #d
        nn = nn +1

In [33]:
print('rater 1 and rater 2 both classified tweet as positive : ', pp)
print('rater 1 classified positive and rater 2 classified negative : ', pn)
print('rater 1 classified negative and rater 2 classified positive : ', np)
print('rater 1 and rater 2 both classified tweet as negative : ', nn)
print('total dataset = ', pp+pn+np+nn)

rater 1 and rater 2 both classified tweet as positive :  47
rater 1 classified positive and rater 2 classified negative :  15
rater 1 classified negative and rater 2 classified positive :  1
rater 1 and rater 2 both classified tweet as negative :  350
total dataset =  413

# Observerd Agreement

In [34]:
total = len(df3)-1
observed_agreement = (pp+nn)/(pp+nn+np+pn)
print(observed_agreement)

0.9612590799031477

# Chance Agreement

In [35]:
chance_positive = ((pp+pn)/total) * ((pp+np)/total) 
chance_negative = ((np+nn)/total) * ((pn+nn)/total)
chance_agreement = chance_positive + chance_negative
print(chance_positive, chance_negative, chance_agreement)

0.01753228390988783 0.7547542181166934 0.7722865020265812

# Cohen Kappa

In [36]:
k1 = (observed_agreement - chance_agreement)/(1-chance_agreement)
print(k,k1)

0.7436399821040129 0.8298699003720257

# Average Kappa

In [37]:
k2 = (k+k1)/2
print("New Kappa value", k2)

New Kappa value 0.7867549412380193